.body{
    margin: 0px;
    padding: 0;

    
}
.photo{
  height: 35px;
  width: 35px;
  position: absolute;
  left: 5px;
  top: 4px;
}

.home {

  min-width: 150%;
  min-height: 1200%;

  position: absolute;
  background: radial-gradient(50% 50%at 50% 50%, #291467, #0b0127);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
 
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-francois-one);
}
.s1{
   

  border:1px solid #ed504e ;
  background: linear-gradient(90.72deg, #ed504e, #f97e48);
  padding: 10px;
  color: white;
  border-radius: 10px;
  position:absolute;
  
  width: 135px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-weight: 20;
  font-family: 'Francois One';
  left: 453px;
    font-weight: 245;
  height: 17px;
  }
  .s2 a{
    text-decoration:none ;
    border:1px solid #ed504e ;
    background: linear-gradient(90.72deg, #ed504e, #f97e48);
    padding: 10px;
    color: white;
    border-radius: 10px;
    position:absolute;
    
    width: 135px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-weight: 20;
    font-family: 'Francois One';
    left: 453px;
      font-weight: 245;
    height: 17px;
    top: 2840px;
    width: 175px;
    left: 432px;
    }
  .s2 {

  }
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
  .nav ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    

  }
  .nav a{
    color: white;
    text-decoration:none ;
    padding: 18px;
    display: block;
    font-size: 15px;
    text-align: ;
    height: 15px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }
  .Groups {
   
    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  
  }
  .nav a:hover{
    text-align: center;
    border:1px solid #ffffff ;

    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  }
  .nav .Groups a:hover{
    text-align: center;
    background-color :black;
  }

  .nav li{
    display: inline-block;
    float: left;
    text-align: center;

  }
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}



.flexbox {
  background: none;
  width: 10%;
  height: 10%;
  display: flex;
position: relative;
left: 75%;
}

.search {
  margin: 8px;
  left: 1px;

}

.search {
  font-weight: normal;
}


.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px no);
}

.search > div:after {
  content: "";
  background: #f97e48;
  width: 3px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  color: rgb(14, 0, 0);
  font-size: 12px;
  background: white;
  width: 115px;
  height: 5px;
  padding: 8px;
  border: solid 3px rgb(249, 126, 72);
  outline: none;
  border-radius: 15px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #000000;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 190px;
}

.univ{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 42px;
  top: 12px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
  

}
.anything{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 1042px;
  top: 0px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
}
.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12,.img13{
    background-color: white;
    height: 455px;
    width: 350px;
    position: absolute;
    left: 103px;
    top: 150px;
}
.img5,.img7,.img9,.img11,.img13{
  left: 603px;

}
.img6,.img7{

  top: 700px;
}
.img8,.img9{

  top: 1250px;
}
.img10,.img11{

  top: 1800px;
}
.img12,.img13{

  top: 2350px;
}

.pdf a {
    text-decoration:none ;
color: white;
position: relative;
top: 620px;
left: 430px;
text-decoration: none;
font-family: 'Francois One';
border:1px solid #ed504e ;
background: linear-gradient(90.72deg, #ed504e, #f97e48);
padding: 10px;
color: white;
text-decoration: none;
border-radius: 6px;
position:absolute;
text-align: center;
}
.pdf a:hover{
    border:1px solid #ed504e ;
background:#ffffff;
color: #ed504e;
}
.img3{
  background-color: white;
  height: 450px;
  width: 950px;
  position: absolute;
  left: 50px ;
  top: 800px;
}
.pdf2 a {
  text-decoration:none ;
color: white;
position: relative;
top: 1270px;
left: 470px;
text-decoration: none;
font-family: 'Francois One';
border:1px solid #ed504e ;
background: linear-gradient(90.72deg, #ed504e, #f97e48);
padding: 10px;
color: white;
text-decoration: none;
border-radius: 6px;
position:absolute;
text-align: center;
}
.pdf2 a:hover{
  border:1px solid #ed504e ;
background:#ffffff;
color: #ed504e;
}
@media screen and (min-width: 950px ){

  .nav a{
    
    font-size: 17px;
    padding: 22px;
    
    
  }
  .search > div > input {
    
    font-size: 14px;
    background: white;
    width: 135px;
    height: 6px;
    padding: 9px;
    
  }
  .univ{
    width: 396px;
    height: 136px;
    font-size: 19.9px;
  
  }
  
  .home {

    min-width: 100%;
    min-height: 560%;
    max-width: 200%;
    max-height:200% ;
   
  }
  .img2{
   top : 170px;
    left: 170px ;
}
.pdf a {

top: 650px;
left: 530px;

}
.s1{
  top: 120px;
left: 555px;
}
.s2 a{
  top: 2900px;
left: 530px;
}
.pdf2 a {
  text-decoration:none ;
color: white;
position: relative;
top: 1250px;
left: 550px;
text-decoration: none;
font-family: 'Francois One';
border:1px solid #ed504e ;
background: linear-gradient(90.72deg, #ed504e, #f97e48);
padding: 10px;
color: white;
text-decoration: none;
border-radius: 6px;
position:absolute;
text-align: center;
}
.s2 a:hover{
  border:1px solid #ed504e ;
background:#ffffff;
color: #ed504e;
}


.img3{
  top : 770px;
   left: 170px ;
}

.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12,.img13{

  height: 475px;
  width: 430px;
  position: absolute;
  left: 150px;
  top: 200px;
}
.img5,.img7,.img9,.img11,.img13{
left: 683px;

}
.img6,.img7{

top: 750px;
}
.img8,.img9{

top: 1300px;
}
.img10,.img11{

top: 1850px;
}
.img12,.img13{

top: 2400px;
}
}
@media screen and (max-width: 500px ){
  .home{
    min-height:770% ;
    min-width: 150%;
    max-width: 1000%;
  }
  .s1{
    top: 90px;
    left: 39%;
  font-size: 11.5px;
  width: 125px;
  height: 10px;
  }
  .s2 a{
    top: 5165px;
  left: 39%;
  font-size: 11.5px;
  width: 125px;
  height: 10px;
  }
  .nav a{
    
    font-size: 8px;
    padding: 9px;
    height: 13px;
    
    
  }
  .search > div > input {
    
    font-size: 10px;
    background: white;
    width: 65px;
    height: 3.5px;
    padding: 9px;
    
  }
  .univ{
    width: 326px;
    height: 100px;
    font-size: 13.9px;
    top: 15px;
  
  }
  .img2{
    top : 124px;
     left: 40px ;
     width: 450px;
     height: 360px;
 }
 .img3{
  top : 604px;
   left: 40px ;
   width: 450px;
   height: 360px;
}
 .pdf a {

width: 100px;
height: 10px;
  top: 500px;
  left: 200px;
   font-size: 8.9px;
  }
  .pdf2 a {
position: absolute;
    width: 100px;
    height: 10px;
      top: 980px;
      left: 220px;
       font-size: 8.9px;
      }
      .img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12,.img13{

        height: 475px;
        width: 430px;
        position: absolute;
        left: 12%;
        right: 40%;
        top: 155px;
      }
      .img5{
        top: 655px;
      }
      .img6{
        top: 1155px;
      }
      .img7{
        top: 1655px;
      }
      .img8{
        top: 2155px;
      }
      .img9{
        top: 2655px;
      }
      .img10{
        top: 3155px;
      }
      .img11{
        top: 3655px;
      }
      .img12{
        top: 4155px;
      }
      .img13{
        top: 4655px;
      }

}
