.body{
    margin: 0px;
    padding: 0;

    
}
.photo{
  height: 35px;
  width: 35px;
  position: absolute;
  left: 5px;
  top: 4px;
}

.home {

  min-width: 140%;
  min-height: 270%;
  max-width: 120%;
  max-height: 1000%;
  position: absolute;
  background: radial-gradient(50% 50%at 50% 50%, #291467, #0b0127);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
 
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-francois-one);
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
  .nav ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    

  }
  .nav a{
    color: white;
    text-decoration:none ;
    padding: 18px;
    display: block;
    font-size: 15px;
    text-align: ;
    height: 15px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }
  .Accueil{
   
    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  
  }
  .nav a:hover{
    font-family: 'Francois One';
    text-align: center;
    border:1px solid #ffffff ;

    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  }
  .nav .Accueil a:hover{
    text-align: center;
    background-color :black;
  }

  .nav li{
    display: inline-block;
    float: left;
    text-align: center;
    

  }
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: none;
  width: 10%;
  height: 10%;
  display: flex;
position: relative;
left: 75%;
}

.search {
  margin: 8px;
  left: 1px;

}

.search {
  font-weight: normal;
}


.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px no);
}

.search > div:after {
  content: "";
  background: #f97e48;
  width: 3px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  color: rgb(14, 0, 0);
  font-size: 12px;
  background: white;
  width: 115px;
  height: 5px;
  padding: 8px;
  border: solid 3px rgb(249, 126, 72);
  outline: none;
  border-radius: 15px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #000000;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 190px;
}
.img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 520px;
    top: 20px;
}
.univ{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 42px;
  top: 12px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
      

}
.anything{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 1042px;
  top: 0px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
}
.first{
  
  position: absolute;
  top: 125px;
  left: 45px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.1em;
  font-weight: 30;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  white-space: pre-wrap;
  z-index: 1;
  color:white;
  font-size: 15px;

}
.sss{
  position: absolute;
  top: 155px;
  left: 45px;
font-family: 'Francois One';
  font-size: 40px;
  background: linear-gradient(90.72deg, #ed504e, #f97e48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: 550px;
  
}
.secend{
  position: absolute;
  top: 205px;
  left: 45px;
  font-size: 40px;
  background: linear-gradient(90.72deg, #ffffff, #f9f6f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 0;
  width: 520px;
  font-family: 'Francois One';
}
.third{
  
  position: absolute;
  top: 326px;
  left: 45px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.1em;
  font-weight: 30;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  white-space: pre-wrap;
  z-index: 1;
  color:white;
  font-size: 15px;
  width: 380px;

}

.news a {

  text-decoration: none;

border:1px solid #ed504e ;
background: linear-gradient(90.72deg, #ed504e, #f97e48);
padding: 10px;
color: white;
text-decoration: none;
border-radius: 10px;
top: 50%;

position:absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 85px;
top: 425px;


font-weight: 30;
font-family: 'Francois One';
left: 80px;
font-weight: 545;
height: 17px;

}

.news a:hover {

border:1px solid #ffffff ;
background-color: #ffffff;
color: #ffffff;


}
.contact a{
  text-decoration: none;

  border:1px solid #ed504e ;
  background: white;
  padding: 10px;
  color: #f97e48;

  text-decoration: none;
  border-radius: 10px;
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-weight: 15;
  font-family: 'Francois One';
  width: 85px;
  top: 425px;
  left: 240px;
  height: 17px;
}
.contact a:hover {

  border:1px solid #ffffff ;
  background: linear-gradient(90.72deg, #ed504e, #f97e48);
  color: #ffffff;
  
  
  }
  @media screen and (min-width: 950px ){

    .footer{
   bottom: -160px;
   right: 880px;
    }
    .footer .social li a{
      font-size: 19px ;
      color: #ffffff;
      margin: 10px 20px;
      display: inline-block;
    
    }
    .home {

      min-width: 100%;
      min-height: 130%;
      max-width: 200%;
      max-height:200% ;
     
    }
    .nav a{
      
      font-size: 17px;
      padding: 22px;
      
      
    }
    .search > div > input {
      
      font-size: 14px;
      background: white;
      width: 135px;
      height: 6px;
      padding: 9px;
      
    }
    .univ{
      width: 396px;
      height: 136px;
      font-size: 19.9px;
    
    }
    .img{
      height: 550px;
      width: 550px;
      position: absolute;
      left: 650px;
      top: 30px;
  }
  .news a {
   
  width: 110px;
  top: 505px;
  
  left: 80px;
  font-weight: 545;
  height: 17px;
  
  }
  .contact a {
   
    width: 110px;
    top: 505px;
    
    left: 280px;
    font-weight: 545;
    height: 17px;
    
    }
    .third{
      top: 400px;
      left: 45px;
      
      font-size: 16.5px;
      width: 380px;
    
    }
    .secend{
      
      top: 264px;
      left: 45px;
      font-size: 43px;
     
      width: 520px;
    
    }
    .sss{
  
      top: 205px;
      left: 45px;
    
      font-size: 43px;
     
      
    }
    .first{
  
      top: 165px;
   
      font-size: 16.5px;
    
    }

  }
    
  @media screen and (max-width: 500px ){
    .footer{
   bottom: -600px;: 911px;
   right: 1px;
    
       }
 .nav a{
    
    font-size: 8px;
    padding: 9px;
    height: 13px;
    
    
  }
  .search > div > input {
    
    font-size: 10px;
    background: white;
    width: 65px;
    height: 3.5px;
    padding: 9px;
    
  }
  .univ{
    width: 326px;
    height: 100px;
    font-size: 13.9px;
    top: 15px;
  }
  .img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50px;
    top: 450px;
}
.home {
  
  min-width: 150%;
  min-height: 185%;
  max-width: 1000%;
  max-height:1000% ;
 
}
  .third{
    top: 355px;
 left: 40px;
 width: 404px;
    font-size: 16.5px;
  }
  .secend{
    
    top: 224px;
    left: 45px;
    font-size: 42px;
   
    width: 440px;
  
  }
  .sss{

    top: 175px;
    left: 45px;
    width: 400px;
    font-size: 42px;
   
    
  }
  .first{

    top: 125px;
    left: 40px;
    width: 404px;
    font-size: 16.5px;
  }
  .news a {
   
    width: 80px;
    top: 480px;
    text-align: center;
    left: 80px;
    font-weight: 545;
    height: 14px;
    
    }
    .contact a {
      text-align: center;

      width: 80px;
      top: 480px;
      
      left: 280px;
      font-weight: 545;
      height: 14px;
      
      }
  }

.footer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: transparent;
 top: 520px;
 color: white;
  flex-direction: column;
  left: 90px;
  opacity: 0.9;
}

footer .menu{
  left: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .social li ,.footer .menu li {
list-style: none;

}

.footer .social li a{
  font-size: 1.2em ;
  color: #ffffff;
  margin: 10px 20px;
  display: inline-block;

}
.footer .menu li a {
  left: 200px;
font-size: 0.6em;
color: #ffffff;
margin: 0 10px;
display: inline-block;
text-decoration: none;
opacity: 0.65;
transition: 0.5s;
}
.footer .menu li a:hover {
  
  opacity: 1.1;
  
  }
  .footer .social li a:hover {
  
  opacity: 1.1;
  
  }
.footer p{
  font-size: 9px;
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  opacity: 1;
}

