.body{
    margin: 0px;
    padding: 0;

    
}
.photo{
  height: 35px;
  width: 35px;
  position: absolute;
  left: 5px;
  top: 4px;
}

.home {

  min-width: 140%;
  min-height: 170%;
  max-width: 120%;
  max-height: 1000%;
  position: absolute;
  background: radial-gradient(50% 50%at 50% 50%, #291467, #0b0127);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
 
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-francois-one);
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
  .nav ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    

  }
  .nav a{
    color: white;
    text-decoration:none ;
    padding: 18px;
    display: block;
    font-size: 15px;
    text-align: ;
    height: 15px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  .nav a:hover{
    font-family: 'Francois One';
    text-align: center;
    border:1px solid #ffffff ;

    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  }
  .nav .Accueil a:hover{
    text-align: center;
    background-color :black;
  }

  .nav li{
    display: inline-block;
    float: left;
    text-align: center;
    

  }
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: none;
  width: 10%;
  height: 10%;
  display: flex;
position: relative;
left: 75%;
}

.search {
  margin: 8px;
  left: 1px;

}

.search {
  font-weight: normal;
}


.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px no);
}

.search > div:after {
  content: "";
  background: #f97e48;
  width: 3px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  color: rgb(14, 0, 0);
  font-size: 12px;
  background: white;
  width: 115px;
  height: 5px;
  padding: 8px;
  border: solid 3px rgb(249, 126, 72);
  outline: none;
  border-radius: 15px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #000000;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 190px;
}
.img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 520px;
    top: 20px;
}
.univ{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 42px;
  top: 12px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
      

}
.anything{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 1042px;
  top: 0px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
}

.imagg{
    height: 500px;
    width: 600px;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 10px;
    left: 69px;
   
}
.work{
font-size:72px ;
color: #f97e48;
height: 55px;
width: 200px;
font-family: 'Francois One';
font-weight: 500;
position: absolute;
right: 122px;
top
: 151px;

}
.work2{
    color: white;
    font-size:72px ;
height: 55px;
width: 200px;
font-family: 'Francois One';
font-weight: 500;
position: absolute;
right: 122px;
top
: 331px;

}

 @media screen and (min-width: 950px ){


    .home {

      min-width: 100%;
      min-height: 130%;
      max-width: 200%;
      max-height:200% ;
     
    }
    .nav a{
      
      font-size: 17px;
      padding: 22px;
      
      
    }
    .search > div > input {
      
      font-size: 14px;
      background: white;
      width: 135px;
      height: 6px;
      padding: 9px;
      
    }
    .imagg{
        height: 600px;
        width: 700px;
        align-items: center;
        display: flex;
        position: absolute;
        justify-content: center;
        top: 19px;
        left: 69px;
       
    }
    .univ{
      width: 396px;
      height: 136px;
      font-size: 19.9px;
    
    }
    .img{
      height: 550px;
      width: 550px;
      position: absolute;
      left: 650px;
      top: 30px;
  }
  .work{
    font-size:82px ;
    color: #f97e48;
    height: 55px;
    width: 200px;
    font-family: 'Francois One';
    font-weight: 500;
    position: absolute;
    right: 162px;
    top
    : 171px;
    
    }
    .work2{
        color: white;
        font-size:82px ;
    height: 55px;
    width: 200px;
    font-family: 'Francois One';
    font-weight: 500;
    position: absolute;
    right: 162px;
    top
    : 400px;
    
    }
}


@media screen and (max-width: 500px ){
    .home{
        min-width: 150%;
        min-height: 170%;
        max-width: 1000%;
        max-height: 1000%;
    }
    .nav a{
    
        font-size: 8px;
        padding: 9px;
        height: 13px;
        
        
      }
      .search > div > input {
        
        font-size: 10px;
        background: white;
        width: 65px;
        height: 3.5px;
        padding: 9px;
        
      }
      .univ{
        width: 326px;
        height: 100px;
        font-size: 13.9px;
        top: 15px;
      
      }
    .img{
      height: 400px;
      width: 400px;
      position: absolute;
      left: 50px;
      top: 450px;
  }
  .imagg{
    height: 800px;
    width: 700px;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 9px;
    left: -27px;
   
}

.work{
    font-size:55px ;
    color: #f97e48;
    height: 55px;
    width: 500px;
    font-family: 'Francois One';
    font-weight: 500;
    position: relative;
    left: 52px;
    top
    : 21px;
    
    }
    .work2{
        font-size:55px ;
    
        height: 55px;
        width: 500px;
        position: relative;
        left: 372px;
        top
        : -34px;
        
        }
}
