.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;


    
}
.photo{
  height: 35px;
  width: 35px;
  position: absolute;
  left: 5px;
  top: 4px;
}

.home {

  min-width: 140%;
  min-height: 800%;
  max-width: 1000%;
  max-height: 1000%;
  position: absolute;
  background: radial-gradient(50% 50%at 50% 50%, #291467, #0b0127);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
 
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-francois-one);
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
  .nav ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    

  }
  .nav a{
    color: white;
    text-decoration:none ;
    padding: 18px;
    display: block;
    font-size: 15px;
    text-align: ;
    height: 15px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }
  .Courses a {
   
    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  
  }
  .nav a:hover{
    font-family: 'Francois One';
    text-align: center;
    border:1px solid #ffffff ;

    background: linear-gradient(179.43deg, #ed504e, #f97e48);
  }
  .nav .courses a:hover{
    text-align: center;
    background-color :black;
  }

  .nav li{
    display: inline-block;
    float: left;
    text-align: center;
    

  }
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: none;
  width: 10%;
  height: 10%;
  display: flex;
position: relative;
left: 75%;
}

.search {
  margin: 8px;
  left: 1px;

}

.search {
  font-weight: normal;
}


.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px no);
}

.search > div:after {
  content: "";
  background: #f97e48;
  width: 3px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  color: rgb(14, 0, 0);
  font-size: 12px;
  background: white;
  width: 115px;
  height: 5px;
  padding: 8px;
  border: solid 3px rgb(249, 126, 72);
  outline: none;
  border-radius: 15px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #000000;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 190px;
}
.img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 520px;
    top: 20px;
}
.univ{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 42px;
  top: 12px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
      

}
.anything{
  width: 356px;
  height: 32px;
 position: absolute;
  letter-spacing: 0.05em;
left: 1042px;
  top: 0px;
  font-family: 'Francois One';
  font-size: 18px;
  color:white;
}
.s1,.s2 {
   

border:1px solid #ed504e ;
background: linear-gradient(90.72deg, #ed504e, #f97e48);
padding: 10px;
color: white;
border-radius: 10px;
position:absolute;

width: 85px;
top: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

font-weight: 20;
font-family: 'Francois One';
left: 20px;
font-weight: 245;
height: 17px;
}

.Analysis,.Algebra,.ALgorihme,.Architecture,.system,.Office,.english{
    
border:1px solid #ed504e ;
background:white;
padding: 10px;
color: rgb(245, 43, 43);
border-radius: 10px;
position:absolute;

width: 85px;
top: 140px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 12px;
font-weight: 20;
font-family: 'Francois One';
left: 190px;
font-weight: 245;
height: 10px;

}


.aa{
width: 200px;
position: absolute;
height: 6px;
left: 25px;
top: 180px;

}
.aa h2 {
color: #ffffff;
background-color: #ed504e;
padding: 10px 20px;
font-size: 10px;
height: 32px;
font-weight: 700;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-align:center;
height: 6px;

}

.aa ul {
position: relative;
background-color: #fff;
height: 6px;

text-align:center;
}

.aa ul li {
  list-style: none;
  padding:6px ;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transition:transform  0.5s ;
  height: 10px;

}
.aa ul li:hover{
transform: scale(1.1);
z-index: 100;
background: linear-gradient(180.72deg, #ed504e, #f97e48);
box-shadow: 0 5px 25px rgba(0,0,0,.2);
color: #fff;
opacity: 0.2;


}
.aa ul li span {
  list-style: none;
  width: 0px;
  height: 1px;
  text-align:center;
  line-height: 20px;
background: linear-gradient(180.72deg, #ed504e, #f97e48);
  color: black;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 600;
  transform: translatey(-2px);
}
.aa ul li:hover a {
  background-color: none;
  color: #ffffff;
}
.aa ul:hover li {
opacity: 1;
}
.aa a{
  top: -5.6px;

  text-align:center;
  color: #ed504e;

    text-decoration:none ;
  padding: 6px;
  display: flex;
  justify-content: center;
  font-size: 8px;
  text-align: center;
  height: 0px;
  width: 80%;
height: 80%;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
  font-family: 'Francois One';
}



.ab{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 255px;
  top: 180px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .ab h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .ab ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .ab ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .ab ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ab ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .ab ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ab ul:hover li {
  opacity: 1;
  }
  .ab a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  
.ac{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 315px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .ac h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .ac ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .ac ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .ac ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ac ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .ac ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ac ul:hover li {
  opacity: 1;
  }
  .ac a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  
.ac2{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 255px;
  top: 315px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .ac2 h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .ac2 ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .ac2 ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .ac2 ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ac2 ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .ac2 ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ac2 ul:hover li {
  opacity: 1;
  }
  .ac2 a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  .Algebra{

    top: 435px;
 
    
    }

    
.ad{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 485px;
  
  }
  .ad h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:center;
  height: 6px;
  
  }
  
  .ad ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  }
  
  .ad ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
  
  }
  .ad ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ad ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);
  }
  .ad ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ad ul:hover li {
  opacity: 1;
  }
  .ad a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }



  
.ae{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 255px;
  top: 485px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .ae h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .ae ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .ae ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .ae ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ae ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .ae ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ae ul:hover li {
  opacity: 1;
  }
  .ae a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }
  .af{
    width: 200px;
    position: absolute;
    height: 6px;
    left: 255px;
    top: 615px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .af h2 {
    color: #ffffff;
    background-color: #ed504e;
    padding: 10px 20px;
    font-size: 10px;
    height: 32px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    text-align:center;
    height: 6px;
    
    }
    
    .af ul {
    position: relative;
    background-color: #fff;
    height: 6px;
    
    text-align:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    
    .af ul li {
      list-style: none;
      padding:6px ;
      background-color: #fff;
      box-shadow: 0 5px 25px rgba(0,0,0,.1);
      transition:transform  0.5s ;
      height: 10px;
      
    
    }
    .af ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 0.2;
    
    
    }
    .af ul li span {
      list-style: none;
      width: 0px;
      height: 1px;
      text-align:center;
      line-height: 20px;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
      color: black;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 10px;
      font-weight: 600;
      transform: translatey(-2px);
  
    }
    .af ul li:hover a {
      background-color: none;
      color: #ffffff;
    }
    .af ul:hover li {
    opacity: 1;
    }
    .af a{
      top: -5.6px;
    
      text-align:center;
      color: #ed504e;
    
        text-decoration:none ;
      padding: 6px;
      display: flex;
      justify-content: center;
      font-size: 8px;
      text-align: center;
      height: 0px;
      width: 80%;
    height: 80%;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      z-index: 1;
      font-family: 'Francois One';
    }

    .ag{
      width: 200px;
      position: absolute;
      height: 6px;
      left: 25px;
      top: 615px;
      
      }
      .ag h2 {
      color: #ffffff;
      background-color: #ed504e;
      padding: 10px 20px;
      font-size: 10px;
      height: 32px;
      font-weight: 700;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align:center;
      height: 6px;
      
      }
      
      .ag ul {
      position: relative;
      background-color: #fff;
      height: 6px;
      
      text-align:center;
      }
      
      .ag ul li {
        list-style: none;
        padding:6px ;
        background-color: #fff;
        box-shadow: 0 5px 25px rgba(0,0,0,.1);
        transition:transform  0.5s ;
        height: 10px;
      
      }
      .ag ul li:hover{
      transform: scale(1.1);
      z-index: 100;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
      box-shadow: 0 5px 25px rgba(0,0,0,.2);
      color: #fff;
      opacity: 0.2;
      
      
      }
      .ag ul li span {
        list-style: none;
        width: 0px;
        height: 1px;
        text-align:center;
        line-height: 20px;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
        color: black;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        transform: translatey(-2px);
      }
      .ag ul li:hover a {
        background-color: none;
        color: #ffffff;
      }
      .ag ul:hover li {
      opacity: 1;
      }
      .ag a{
        top: -5.6px;
      
        text-align:center;
        color: #ed504e;
      
          text-decoration:none ;
        padding: 6px;
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-align: center;
        height: 0px;
        width: 80%;
      height: 80%;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        z-index: 1;
        font-family: 'Francois One';
      }
    
      .ALgorihme{

        top: 730px;
     
        
        }

 .ah{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 785px;
  
  }
  .ah h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:center;
  height: 6px;
  
  }
  
  .ah ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  }
  
  .ah ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
  
  }
  .ah ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ah ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);
  }
  .ah ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ah ul:hover li {
  opacity: 1;
  }
  .ah a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }       

   
.al {
  width: 200px;
  position: absolute;
  height: 6px;
  left: 255px;
  top: 785px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .al h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .al ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .al ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .al ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .al ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .al ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .al ul:hover li {
  opacity: 1;
  }
  .al a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  .am {
    width: 200px;
    position: absolute;
    height: 6px;
    left: 255px;
    top: 910px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .am h2 {
    color: #ffffff;
    background-color: #ed504e;
    padding: 10px 20px;
    font-size: 10px;
    height: 32px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    text-align:center;
    height: 6px;
    
    }
    
    .am ul {
    position: relative;
    background-color: #fff;
    height: 6px;
    
    text-align:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    
    .am ul li {
      list-style: none;
      padding:6px ;
      background-color: #fff;
      box-shadow: 0 5px 25px rgba(0,0,0,.1);
      transition:transform  0.5s ;
      height: 10px;
      
    
    }
    .am ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 0.2;
    
    
    }
    .am ul li span {
      list-style: none;
      width: 0px;
      height: 1px;
      text-align:center;
      line-height: 20px;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
      color: black;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 10px;
      font-weight: 600;
      transform: translatey(-2px);
  
    }
    .am ul li:hover a {
      background-color: none;
      color: #ffffff;
    }
    .am ul:hover li {
    opacity: 1;
    }
    .am a{
      top: -5.6px;
    
      text-align:center;
      color: #ed504e;
    
        text-decoration:none ;
      padding: 6px;
      display: flex;
      justify-content: center;
      font-size: 8px;
      text-align: center;
      height: 0px;
      width: 80%;
    height: 80%;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      z-index: 1;
      font-family: 'Francois One';
    }

.an{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 940px;  
  }
  .an h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:center;
  height: 6px;
  
  }
  
  .an ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  }
  
  .an ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
  
  }
  .an ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .an ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);
  }
  .an ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .an ul:hover li {
  opacity: 1;
  }
  .an a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }       

  .Architecture{
top: 1029px;
  }


   .ap{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 1080px;
  
  }
  .ap h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:center;
  height: 6px;
  
  }
  
  .ap ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  }
  
  .ap ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
  
  }
  .ap ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ap ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);
  }
  .ap ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ap ul:hover li {
  opacity: 1;
  }
  .ap a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }       


  
.ar {
  width: 200px;
  position: absolute;
  height: 6px;
  left: 255px;
  top: 1080px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  .ar h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center;
  height: 6px;
  
  }
  
  .ar ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .ar ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
    
  
  }
  .ar ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ar ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);

  }
  .ar ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ar ul:hover li {
  opacity: 1;
  }
  .ar a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }

  .system{
    top: 1270px;
    font-size: 11px;
    width: 95px;
  }

     .ay{
  width: 200px;
  position: absolute;
  height: 6px;
  left: 25px;
  top: 1320px;
  
  }
  .ay h2 {
  color: #ffffff;
  background-color: #ed504e;
  padding: 10px 20px;
  font-size: 10px;
  height: 32px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:center;
  height: 6px;
  
  }
  
  .ay ul {
  position: relative;
  background-color: #fff;
  height: 6px;
  
  text-align:center;
  }
  
  .ay ul li {
    list-style: none;
    padding:6px ;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition:transform  0.5s ;
    height: 10px;
  
  }
  .ay ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 0.2;
  
  
  }
  .ay ul li span {
    list-style: none;
    width: 0px;
    height: 1px;
    text-align:center;
    line-height: 20px;
  background: linear-gradient(180.72deg, #ed504e, #f97e48);
    color: black;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translatey(-2px);
  }
  .ay ul li:hover a {
    background-color: none;
    color: #ffffff;
  }
  .ay ul:hover li {
  opacity: 1;
  }
  .ay a{
    top: -5.6px;
  
    text-align:center;
    color: #ed504e;
  
      text-decoration:none ;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    height: 0px;
    width: 80%;
  height: 80%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Francois One';
  }       


  .av {
    width: 200px;
    position: absolute;
    height: 6px;
    left: 255px;
    top: 1320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .av h2 {
    color: #ffffff;
    background-color: #ed504e;
    padding: 10px 20px;
    font-size: 10px;
    height: 32px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    text-align:center;
    height: 6px;
    
    }
    
    .av ul {
    position: relative;
    background-color: #fff;
    height: 6px;
    
    text-align:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    
    .av ul li {
      list-style: none;
      padding:6px ;
      background-color: #fff;
      box-shadow: 0 5px 25px rgba(0,0,0,.1);
      transition:transform  0.5s ;
      height: 10px;
      
    
    }
    .av ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 0.2;
    
    
    }
    .av ul li span {
      list-style: none;
      width: 0px;
      height: 1px;
      text-align:center;
      line-height: 20px;
    background: linear-gradient(180.72deg, #ed504e, #f97e48);
      color: black;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 10px;
      font-weight: 600;
      transform: translatey(-2px);
  
    }
    .av ul li:hover a {
      background-color: none;
      color: #ffffff;
    }
    .av ul:hover li {
    opacity: 1;
    }
    .av a{
      top: -5.6px;
    
      text-align:center;
      color: #ed504e;
    
        text-decoration:none ;
      padding: 6px;
      display: flex;
      justify-content: center;
      font-size: 8px;
      text-align: center;
      height: 0px;
      width: 80%;
    height: 80%;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      z-index: 1;
      font-family: 'Francois One';
    }
    .Office{
      top: 1533px;
      font-size: 11px;
      width: 100px;
      left: 63px;
    }

    .ar {
      width: 200px;
      position: absolute;
      height: 6px;
      left: 255px;
      top: 1080px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      }
      .ar h2 {
      color: #ffffff;
      background-color: #ed504e;
      padding: 10px 20px;
      font-size: 10px;
      height: 32px;
      font-weight: 700;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    
      text-align:center;
      height: 6px;
      
      }
      
      .ar ul {
      position: relative;
      background-color: #fff;
      height: 6px;
      
      text-align:center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      }
      
      .ar ul li {
        list-style: none;
        padding:6px ;
        background-color: #fff;
        box-shadow: 0 5px 25px rgba(0,0,0,.1);
        transition:transform  0.5s ;
        height: 10px;
        
      
      }
      .ar ul li:hover{
      transform: scale(1.1);
      z-index: 100;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
      box-shadow: 0 5px 25px rgba(0,0,0,.2);
      color: #fff;
      opacity: 0.2;
      
      
      }
      .ar ul li span {
        list-style: none;
        width: 0px;
        height: 1px;
        text-align:center;
        line-height: 20px;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
        color: black;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        transform: translatey(-2px);
    
      }
      .ar ul li:hover a {
        background-color: none;
        color: #ffffff;
      }
      .ar ul:hover li {
      opacity: 1;
      }
      .ar a{
        top: -5.6px;
      
        text-align:center;
        color: #ed504e;
      
          text-decoration:none ;
        padding: 6px;
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-align: center;
        height: 0px;
        width: 80%;
      height: 80%;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        z-index: 1;
        font-family: 'Francois One';
      }
    
      .system{
        top: 1270px;
        font-size: 11px;
        width: 95px;
      }
    
         .aq{
      width: 200px;
      position: absolute;
      height: 6px;
      left: 25px;
      top: 1570px;
      
      }
      .aq h2 {
      color: #ffffff;
      background-color: #ed504e;
      padding: 10px 20px;
      font-size: 10px;
      height: 32px;
      font-weight: 700;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align:center;
      height: 6px;
      
      }
      
      .aq ul {
      position: relative;
      background-color: #fff;
      height: 6px;
      
      text-align:center;
      }
      
      .aq ul li {
        list-style: none;
        padding:6px ;
        background-color: #fff;
        box-shadow: 0 5px 25px rgba(0,0,0,.1);
        transition:transform  0.5s ;
        height: 10px;
      
      }
      .aq ul li:hover{
      transform: scale(1.1);
      z-index: 100;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
      box-shadow: 0 5px 25px rgba(0,0,0,.2);
      color: #fff;
      opacity: 0.2;
      
      
      }
      .aq ul li span {
        list-style: none;
        width: 0px;
        height: 1px;
        text-align:center;
        line-height: 20px;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
        color: black;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        transform: translatey(-2px);
      }
      .aq ul li:hover a {
        background-color: none;
        color: #ffffff;
      }
      .aq ul:hover li {
      opacity: 1;
      }
      .aq a{
        top: -5.6px;
      
        text-align:center;
        color: #ed504e;
      
          text-decoration:none ;
        padding: 6px;
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-align: center;
        height: 0px;
        width: 80%;
      height: 80%;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        z-index: 1;
        font-family: 'Francois One';
      }       
.english{
      top: 1533px;
      font-size: 9.5px;
      width: 125px;
      left: 300px;
    }

    .az{
      width: 200px;
      position: absolute;
      height: 6px;
      left: 255px;
      top: 1570px;
      
      }
      .az h2 {
      color: #ffffff;
      background-color: #ed504e;
      padding: 10px 20px;
      font-size: 10px;
      height: 32px;
      font-weight: 700;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align:center;
      height: 6px;
      
      }
      
      .az ul {
      position: relative;
      background-color: #fff;
      height: 6px;
      
      text-align:center;
      }
      
      .az ul li {
        list-style: none;
        padding:6px ;
        background-color: #fff;
        box-shadow: 0 5px 25px rgba(0,0,0,.1);
        transition:transform  0.5s ;
        height: 10px;
      
      }
      .az ul li:hover{
      transform: scale(1.1);
      z-index: 100;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
      box-shadow: 0 5px 25px rgba(0,0,0,.2);
      color: #fff;
      opacity: 0.2;
      
      
      }
      .az ul li span {
        list-style: none;
        width: 0px;
        height: 1px;
        text-align:center;
        line-height: 20px;
      background: linear-gradient(180.72deg, #ed504e, #f97e48);
        color: black;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        transform: translatey(-2px);
      }
      .az ul li:hover a {
        background-color: none;
        color: #ffffff;
      }
      .az ul:hover li {
      opacity: 1;
      }
      .az a{
        top: -5.6px;
      
        text-align:center;
        color: #ed504e;
      
          text-decoration:none ;
        padding: 6px;
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-align: center;
        height: 0px;
        width: 80%;
      height: 80%;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        z-index: 1;
        font-family: 'Francois One';
      }       

    .s2{
      left: 550px;
    }


    @media screen and (min-width: 950px ){
.body{
  width: 200px;
}
      .home {
  
        min-width: 100%;
        min-height: 300%;
        max-width: 1000%;
        max-height:1000% ;
       
      }
      .nav a{
        
        font-size: 17px;
        padding: 22px;
        
        
      }
      .search > div > input {
        
        font-size: 14px;
        background: white;
        width: 135px;
        height: 6px;
        padding: 9px;
        
      }
      .univ{
        width: 396px;
        height: 136px;
        font-size: 19.9px;
      
      }
      .img{
        height: 550px;
        width: 550px;
        position: absolute;
        left: 650px;
        top: 30px;
    }
    .s2{
      left: 620px;
      width: 100px;
      top: 109px;
    }
    .s1{
      
      width: 100px;
      top: 109px;
    }






.Analysis,.Algebra,.ALgorihme,.Architecture,.system,.Office,.english{
    
  width: 130px;

  font-size: 13px;
  left: 226px;
  height: 12px;
  
  }
  .Office,.english,.system{
    
    width: 150px;
  }
  .english{
    font-size: 11px;
    width: 150px;
    left: 359px;
  }
  .Office{
  
   
    left: 59px;
  }

  .az,.ab,.aa,.ac,.ac2,.ad,.ae,.af,.ag,.ah,.al,.am,.an,.ap,.aq,.ar,.av,.ay,.az{
    width: 230px;
    height: 7px;

    }

      .az,.ab,.ac2,.ae,.af,.al,.am,.ar,.ar,.av{
left: 334px;
    }
}


@media screen and (max-width: 500px ){
 .nav a{
    
    font-size: 8px;
    padding: 9px;
    height: 13px;
    
    
  }
  .search > div > input {
    
    font-size: 10px;
    background: white;
    width: 65px;
    height: 3.5px;
    padding: 9px;
    
  }
  .univ{
    width: 326px;
    height: 100px;
    font-size: 13.9px;
    top: 15px;
  }
  .img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50px;
    top: 450px;
}
.home {
  
  min-width: 150%;
  min-height: 290%;
  max-width: 1000%;
  max-height:1000% ;
 
}
.s2{
  top: 1730px;
  left: 20px;
}

}
